LLM_API_KEY=#add-google-api-key
LLM_PROVIDER=gemini
LLM_MODEL=gemini/gemini-flash-latest
EMBEDDING_PROVIDER=fastembed
EMBEDDING_MODEL=jinaai/jina-embeddings-v2-base-en
EMBEDDING_DIMENSIONS=768
QDRANT_URL=#add-qdrant-cluster-endpoint
QDRANT_API_KEY=#add-qdrant-api-key
VECTOR_DB_PROVIDER=qdrant
VECTOR_DATASET_DATABASE_HANDLER=qdrant